*{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

:root {
    --main-bg-color: white;
    --main-bg-color-black: black;
    --main-txt-color: black;
    --main-txt-color-black: white;
    --main-txt-size: 1.1rem;
    --main-txt-size-paragraph: 1.1rem;
    --main-txt-size-h1:  2rem;
    --main-txt-size-h2:  1.7rem;
    --main-txt-size-h3:  1.5rem;
    --main-txt-size-h4:  1.4rem;
    --main-txt-menu: 1rem;

}
  

html{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

body{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

.width-100-percetage{
    width: 100%;
    max-width: 100%;
}

.width-70-percentage{
    width: 70%;
    max-width: 70%;
}

.background-black{
    background: var(--main-bg-color-black);
}

.color-white{
    color: var(--main-txt-color-black);
}

.header{
    height: 100px;
    background-color: var(--main-bg-color);
    
}

.header nav ul{
    height: 100px;
}

.header nav ul li a{
    color: var(--main-txt-color);
    text-transform: uppercase;
    font-size: var(--main-txt-menu);
    border-bottom: 1px solid transparent;
    text-decoration: none;
}   

.header nav ul li a:after{
    display:block;
    content: '';
    width: auto;
    border-bottom: solid 2px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    position: relative;
    margin-top: 5px;
    color: white;
}

.header nav ul li:hover a:after{
    transform: scaleX(1);
    transform-origin:  50% 0%;
}

.margin-top{
    margin-top: 50px;
}

.margin-right{
    margin-right: 10px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.header-main, .header-h2, .header-h3, .header-h4{
    font-size: var(--main-txt-size-h1);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.header-h2{
    font-size: var(--main-txt-size-h2);
}

.header-h3{
    font-size: var(--main-txt-size-h3);
}

.header-h4{
    font-size: var(--main-txt-size-h4);
}

.logo{
    width: 128px;
}

.logo img{
    width: 70px;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.list-not-decoration{
    list-style: none;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-top-50{
    padding-top: 50px;
}

.padding-bottom-50{
    padding-bottom: 50px;
}

.cursor-pointer{
    cursor: pointer;
}

.filter-grayscale{
    filter: opacity(25%);
}

.filter-grayscale:hover{
    filter: opacity(100%);
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.text-decoration{
    text-decoration: none;
}

.icon-mobile-menu,
#closeMenuMobile{
    display: none;
}

.slider-images-zones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-route{
  width: 200px;
  height: 200px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid white;
}

#modalImagesRoutes{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: #fffc;    
}

.content-modal-galery{
    width: 100%;
    height: 700px;
}

#closeModalGalery{
    position: absolute;
    right: 10px;
    top: 10px;
}

.image-modal-100{
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-wrap{
    flex-wrap: wrap;
}

.border-radius-100{
    width: 150px;
    border-radius: 100%;
    height: 150px;
}

.padding-left-20{
    padding-left: 20px;
}

.padding-right-20{
    padding-right: 20px;
}

.content-team-trekking div{
    position: relative;
}

.content-team-trekking div::after{
    content: "Más...";
    text-decoration: underline;
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: 0;
}

.content-team-trekking div:hover::after {
    display: flex;
}

.column-count-2{
    column-count: 2;
}

@media only screen and (min-width: 1440px) {
    .border-radius-100{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1024px){
    .border-radius-100{
        width: 200px;
        height: 200px;
        
    }
    .content-team-trekking div::after{
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    .width-70-percentage{
        width: 100%;
        max-width: 100%;
    }

    .padding-mobile-right-left{
        padding: 0 10px;;
    }

    .icon-mobile-menu{
        display: flex;
        margin: 0px 10px;

    }

    #closeMenuMobile{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .header .logo{
        justify-content: flex-end;
    }

    .menu-mobile{
        position: fixed;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(20px);
        background-color: #fffc;      
        z-index: 9999;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .footer-mobile{
        flex-direction: column;
    }

    .footer-mobile .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer-mobile .col ul li{
        text-align: center;
    }

    .menu-mobile ul{
        flex-direction: column;
    }

    .menu-mobile ul li{
        margin-bottom: 15px;
    }

    .image-route{
        width: 48%;
        height: 150px !important;
    }

    .image-modal-100, .content-modal-galery{
        height: 280px;
    }

    .border-radius-100 {
        width: 170px;
        height: 170px;
    }

    .content-team-trekking div::after{
        width: 170px;
        height: 170px;
    }

    .column-count-2{
        column-count: 1;
    }
}
